dist: xenial

language: go

go:
  - "1.11.x"
  - "1.12"
  - tip

env:
  - GO111MODULE=on GOLANGCILINT=$(curl -fsSLI -o /dev/null -w %{url_effective} https://github.com/golangci/golangci-lint/releases/latest | awk -F '/' '{print $8}')

go_import_path: github.com/ganeshmaharaj/lvm-snapshotter

before_install:
  - sudo apt update
  - sudo apt install lvm2 thin-provisioning-tools libseccomp2

matrix:
  allow_failures:
    - go: tip
  include:
    - go: "1.11.x"

install:
    - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin ${GOLANGCILINT}
script:
  - go env
  - go mod download
  - go fmt
  - go build
  - go test ./...
  - golangci-lint run -E gofmt -E unconvert ./...
  - ./tests/test_snapshotter.sh
